:root {
    --latar-belakang: #D9D9D9;
    --bold-border: .2rem solid rgba(0, 0, 0, 0.432);
    --box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
}


body {
    background-color: #f6f7f9;
}

.wrapper.keranjang {
    display: flex;
    padding: 13% 2rem 0 2rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: var(--putih-bg);
}

.container-keranjang {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.back i {
    position: absolute;
    color: #000;
    z-index: 99;
    font-size: 2.8rem;
    top: 0;
}

.back:hover i {
    color: #D9D9D9;

}

.daftar-keranjang {
    padding: .5rem 5rem;
    width: 100%;
    display: none;
    flex-direction: column;
}


.daftar-keranjang.active {
    display: flex;

}

.daftar-keranjang .judul {

    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.daftar-keranjang .judul.kedua {

    padding: 0.5rem 0;
}

.daftar-keranjang .pilih-semua {
    box-shadow: var(--box-shadow);
    background-color: var(--latar-belakang);
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}


.daftar-keranjang .pilih-semua form {
    display: flex;
    align-items: center;
}

.daftar-keranjang .pilih-semua input {
    width: 18px;
    height: 18px;
    margin-right: 1rem;
}


.counter-container {

    display: flex;
    flex-direction: row;
    border: .1rem solid rgba(0, 0, 0, 0.432);
}

.btncounter {

    width: 100%;
    /* font-size: 18px; */
    font-weight: bold;
    color: white;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}



.btncounter:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

btncounter:hover:not(:disabled) {
    background-color: #000;
}

.count-display {
    font-size: 20px;
    font-weight: bold;
    width: 40px;
    text-align: center;
    padding: 0 .5rem;
}

.detail-keranjang-produk {
    box-shadow: var(--box-shadow);
    background-color: var(--latar-belakang);
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-keranjang-produk form {
    display: flex;
    align-items: center;
}

.detail-keranjang-produk form input {
    width: 18px;
    height: 18px;
}


.tgl-pembayaran-status {
    box-shadow: var(--box-shadow);
    background-color: var(--latar-belakang);
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}


.tgl-pembayaran-status p{
    font-weight: bold;
}
.tgl-pembayaran {
    display: flex;
    align-items: center;
}

.tgl-pembayaran p {
    font-weight: bold;
}

.tgl-pembayaran i {
    font-size: 2.4rem;
    margin: 0 1rem;
    font-weight: bold;
}


.gambar-container {
    margin: .5rem 0;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.wrapper-gambar {
    border-radius: 4px;
    width: calc(100%/4);
}

.wrapper-gambar img {
    width: 100%;
    border-radius: 4px;

}

.gambar-container p {
    line-break: anywhere;
}

.gambar-container .namaproduk {
    width: 100%;
    margin: 0 1rem;
}

.harga-produk {
    text-align: end;
    width: 25%;
}

.nama-harga .harga-produk,
.nama-harga .namaproduk {
    width: 100%;
    margin: 1rem;
    text-align: start;
}

.nama-harga {
    width: 100%;
    margin: 0 1rem;
}

.jumlah-produk {
    display: flex;
    justify-content: flex-end;
}

.navbar-list {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    width: 100%;
}

ul .list {
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 1rem;
    cursor: pointer;
    margin: 0 5rem;
    border-radius: 20rem;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--latar-belakang);
    /* align-items: center; */
}

ul .list i {

    font-size: 1.4rem;

}

ul .list:hover {
    background-color: var(--kuning);
}

ul .list.active {
    background-color: var(--kuning);
}

.jumlah-produk i {
    margin-right: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.detail-keranjang-produk .btn.masuk {
    margin: 4rem 0 1rem 0;
}

@media(max-width:980px) {
    html {
        font-size: 50%;

    }

    .wrapper.keranjang {
        padding: 5% 2rem 0 2rem;
    }

    ul .list {
        margin: 2rem;
    }





}

@media(max-width:650px) {
    * {
        font-size: 90%;

    }

    .daftar-keranjang {
        padding: 5rem .5rem;
    }

    .navbar-list {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    ul .list {
        margin: 0 .5rem;
        padding: .5rem;
        width: 100%;
        font-size: .9rem;
        font-weight: bold;
        /* align-items: center; */
    }

    ul .list i {
        font-size: .9rem;
        display: none;

    }

    .back i {
        top: auto;
    }

    .count-display {
        font-size: 1.4rem;
    }

    .jumlah-produk i {
        font-size: 2rem;
    }

    .tgl-pembayaran i{
        font-size: 2rem;
    }
    .tgl-pembayaran-status p {
        font-size: 1rem;
    }

    .tgl-pembayaran-status{
        padding: 0.5rem 0;
    }
    


}